<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template2.css">
</head>
<body>
    <div class="im">
    <nav>  
    <div class="cointainer">
    <div class="con"><img src="cricket.png" width="100" height="100">
    <span class="title">CRICKET</span></div>
    <div>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">GALLERY</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">PAGES</a><select>
              <option></option>
              <option>1</option>
              <option>2</option>
            </select></li>
        </ul>
    </div>
    </div>
  </nav>
    <div class="cointainer1">
    <div class="content">Cricket is a game played with bat and ball.</div>
    <div class="content1">WORLD CUP</div>
    <div class="content2">Cricket is a bat-and-ball game played between two teams of eleven players on a field <br>Team members: 11 players
        Country or region: Worldwide most popular  </div>
        <button class="disnow">DISCOVER NOW</button>
    </div>
</body>
</html>