<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template1.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">  
        <div class="block"><img src="dowload.png" width="50">FOX UNIVERSITY</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <input type="search" placeholder="&#xf002; search"  style="font-family:Arial, FontAwesome" />
        </ul>
    </div>
    </nav>
    <div>
    <div class="divcon">
        <img src="high.png" height="200" width="300">
        <div class="title">University ,College <br>School Education</div><br>
        A small river named Duden flows by their place and <br>supplies it with the neccessary repelialia<br><br>
    <button class="button">Contact us</button></div>
    <img src="edu.jpeg" class="img">
    </div>
    <div class="conn">
    <div class="tec">
       <img src="teacher.png" height="50" width="50"><br>
       Certified Teachers<br>
       Even the all-powerful pointing has no<br>control about the blind texts it is an<br>almost unorthographics
    </div>
    <div class="conn1">
        <img src="specialization.png" height="50" width="50"><br>
        Special Education<br>
        Even the all-powerful pointing has no<br>control about the blind texts it is an<br>almost unorthographics
    </div>
    <div class="conn2">
        <img src="book.png" height="50" width="50"><br>
        Books & Library<br>
        Even the all-powerful pointing has no<br>control about the blind texts it is an<br>almost unorthographics
    </div>
    <div class="conn3">
        <img src="football-club.png" height="50" width="50"><br>
        Sports Club<br>
        Even the all-powerful pointing has no<br>control about the blind texts it is an<br>almost unorthographics
    </div>
    </div>
</body>
</html>