body{
    background-image: url(template.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cointainer{
    margin-left: 100px;
    margin-top: -270px;
    font-family: 'Bruno Ace', cursive;
}
.bt{
    height: 40px;
    background-color: rgb(255, 60, 0);
    padding: 9px;
    border-radius: 5px;
    color: white;
}
.bt2{
    height: 40px;
    width: 145px;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.image{
    width: 200px;
    height: 200px;
    float: left;
}
.img{
    height: 500px;
    width: 500px;
    margin-left: 909px;
}
.cointainer2{
    display: inline-block;
}
.par{
    font-family: 'Bruno Ace', cursive;
    margin-top: 150px;
}
