<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template3.css">
</head>
<body>
    <div class="cointainer">
    <div class="title">Landing Page</div><br>
    <div class="content">A Template by StartBootstrap</div>
    <hr class="line">
    <button class="but"><img src="twitter.png" height="15" width="15">TWITTER</button>
    <button class="but1"><img src="github.svg" height="15" width="15"> GITHUB</button>
    <button class="but2"><img src="linkedin.svg" height="15" width="15"> LINKEDIN</button>
    </div>
</body>
</html>