
.cointainer{
    text-align: center;
    color: rgb(42, 42, 201);
    font-weight: bold;
}
.heading{
    text-align: center;
    color: rgb(42, 42, 201);
    font-size: 50px;
}
.imgcointainer{
    height: 300px;
    width: 450px;
    margin-right: 10px;
}
.pcointainer{
    font-size: 10px;
    font-weight: bold;   
}
.imcointainer{
    height: 100px;
    width: 800px;
    position: absolute;
    left: 500px;
    bottom: 400px;

}
.h2cointainer{
    height: 50px;
    width: 450px;
    border: 3px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
}
.title{
    text-align: center;
}
.heading2{
    height: 50px;
    width: 450px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    
}
.paracointainer{
    width: 450px;
}
.cointainer2{
    position: absolute;
    left: 500px;
    bottom: -640px;
}
.para2cointainer{
    border: 2px solid black;
    width: 900px;
    border-left: none;
    border-right: none;
}
.para3cointainer{
    border: 1px solid black;
    width: 500px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.para4cointainer{
    column-count: 2;
}