<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template4.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">  
       <img src="travel.webp" width="120" height="120"><div class="head">TRAVELS </div>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">PACKAGES</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">PAGES</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">CONTACT</a></li>
            <button class="but">BOOK NOW</button>
        </ul>
    </div>
    </nav>
    <div>
        <img class="img" src="https://www.serbia.travel/files/3-Tara%20%2C%20Banjska%20Stena%20(2)-0-1280x768.jpg">
        <div class="cointainer">
            <img class="image" src="zigzag.png" height="50" width="50">
            <div class="par">P A C K A G E</div>
            <div class="para">SALE<BR>-50%</div>
            <button class="but1">SHOP NOW</button>
        </div>
        <div class="div">
            <div class="para1">ONLY UNTILL<br>10.01.18</div>
        </div>
    </div>
    <div>
        <img class="img1" src="https://lapni.bg/images/2/e80ee932c23fefa000c188d52a63dd02/sarajevo-to-belgrade-7081.jpg">
        <div class="cointainer1">
            <div class="content1">WHO ARE WE?</div>
            <hr class="line"><br>
            <div class="content2">A large natural elevation of the earth's surface rising abruptly<br> from the surrounding level; a large steep hill.</div>
        </div>
    </div>
    <div class="cointainer2">
        <div clas="con">WHERE NEXT?</div>
        <hr class="line1">
        <div class="content4"> mountain is an elevated portion of the Earth's crust, generally with steep sides that <br>show significant exposed bedrock. Although definitions vary.<br>a large pile or quantity of something.</div>
    </div>
</body>
</html>