<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <div class="cointainer2">
    <img src="logo.png" class="img"> 
    <div class="cointainer">   
    <div><h1>Landing template for<br> startsups</h1></div>
    <div>Our landing page templates works on all devices,so <br>you only have to set it up once,and get beautiful <br>results forever<br>
    <button class="bt">PRE ORDER NOW</button>
    <button class="bt2">GET IN TOUCH</button>
    </div>  
    </div>
    <div class="par">
    <img src="circle.jpg" class="image">
    <p>The quality, state, or capability . the ability to connect to or <br>communicate with another computer or computer system.</p>
    <img src="cube.jpg" class="image">
    <p>The fact or condition of being with another or others, <br>especially in way that provides friendship and enjoyment.</p>
    <img src="triangle.jpg" class="image">
    <p>A class of goods identified by name as the product of a single firm . <br> A characteristic or distinctive kind. a lively brand of theater.</p>
    </div>
    </div>
</body>
</html>