*{
    text-decoration: none;
}
.im{
    background-image: url('https://d3nn873nee648n.cloudfront.net/900x600/12207/20-SM393197.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-color: white;
    fill-opacity: 0.6;
}
.cointainer{
    display: flex;
    align-items: center;
    justify-content:space-between; 
}

li{
    display: inline-block;
    padding: 10px;
    list-style: none;
}
li a{
    color: white;
}
select{
    background-color: rgb(65, 126, 161);
}
.title{
    font-size: 30px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 40px;
}
.cointainer1{
    color:  white;
    text-align: center;
    margin-top: 100px;
}
.content{
    font-family: 'Bruno Ace', cursive;
    font-size: 20px;
    font-weight: 200;
}
.content1{
    font-size: 80px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.content2{
    margin-top: 10px;
    font-family: 'Bruno Ace', cursive;
}
.disnow{
    margin-top: 10px;
    border-radius: 30px;
    height: 35px;
    width: 150px;
}
.dropbtn{
    border-color: none;
    border: none;
    background-color: none;
}